{% extends "base.html" %}

{% block title %}财经热点{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">新浪</h1>
            <ul>
                {% for item in sina_list %}
                    <li><span class="pull-right">{{ item[3] }}</span><h4><a href="{{ item[1] }}">{{ item[0] }}</a></h4></li>
                {% endfor %}
            </ul>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">网易</h1>
                <ul>
                {% for item in ntes_list %}
                    <li><h4><a href="{{ item[1] }}">{{ item[0] }}</a></h4></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endblock %}