{% extends "base.html" %}

{% block title %}{{ symbol_list[0][1] }}{% endblock %}

{% block page_content %}
    <div class="container">
    <h1 class="text-center"><a href="http://finance.sina.com.cn/realstock/company/{{ symbol_list[0][0] }}/nc.shtml" >{{ symbol_list[0][1] }}</a></h1>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>symbol</th>
                <th>name</th>
                <th>ticktime</th>
                <th>price</th>
                <th>volume</th>
                <th>prev_price</th>
                <th>kind</th>
                <th>settlement</th>
                <th>ratio_avg_volume_20</th>
            </tr>
        </thead>
        <tbody>
            {% for item in symbol_list %}
                <tr>
                    {% for td in item %}
                        <td>{{ td }}</td>
                        {% endfor %}
{#                    <td>{{ item[0] }}</td>#}
{#                    <td><a href="/tb/{{ item[0] }}">{{ item[1] }}</a></td>#}
{#                    <td>{{ item[2] }}</td>#}
{#                    <td>{{ item[3] }}</td>#}
                </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}